article.co{

    width: 50%;
    height:400px;
    margin:0px auto;
    background-color: black;
    margin-left: 10px;
}

/*article{*/
    /*width: 50%;*/
    /*height:400px;*/
    /*margin:0px auto;*/
    /*background-color: #80677d;*/

/*}*/

/*article{*/
    /*background-color: #b5ede4;*/

/*}*/