<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../public/css/login.css"/>
</head>
<body>
<div class="footer ">
						<span>
							<a href="#">关于我们</a> |
							<a href="#">反馈建议</a> |
							<a href="#">隐私保护</a> |
							<a href="#">免责声明</a> |
							<a href="#">联系我们</a>
						</span><br />
						<span>
							Copyriight © 2016-2020 Money.All Right.Deserved
						</span>

</div>

</body>
</html>