<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<script src="../js/jquery-3.1.0.min.js" type="text/javascript"></script>-->
    <!--<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>-->
    <link rel="stylesheet" type="text/css" href="../css/head.css"/>
    <link rel="stylesheet" type="text/css" href="../css/head_dyna.css"/>
    <!--<script src="../js/bootstrap.min.js"></script>-->
    <script src="../js/tips.js" type="text/javascript"></script>
    <script src="../js/head.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <!--还是给head一个独立的样式吧-->

</head>
<body>
    <header class="row">
        <img class="hidden-xs" src="../picture/recorde2.gif"/>
        <nav class="user">

            <img id="out_img" src="../picture/exit.jpg"/>
            <!--此处应该有一个头像-->
            <div id="img_wra"><img src=""/></div>

            <div class="rela_aside">
                <a href="/" class="reco_add" _sta="off" title="添加记录"><img src="/picture/record_add.png"></a>
                <a href="/statistic" class="to_statistic"><img src="/picture/statistic.gif"></a>
                <a href="/userinfo" class="to_userinfo"><img src="/picture/touserinfo.gif"></a>


            </div>
        </nav>
    </header>
</body>
</html>