<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link href="../picture/logo_icon.gif" rel="icon" />
		<title>查看记录</title>
		<link href="../css/recordQuery.css" rel="stylesheet" type="text/css"/>
	    <script src="../js/recordQuery.js"></script> 
	</head>
	<body>
		
		<section class="wrap">
			<header>
				<span class="spanDate">时间</span>
				<span class="spanType">类型</span>
				<span class="spanMoney">金额</span>
			
			</header>
			<ul>
				<li>
					<span class="spanDate">时间</span>
					<span class="spanType">类型</span>
					<span class="spanMoney">金额</span>
				</li>
			</ul>
		</section>
	</body>
</html>
