<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../picture/logo_icon.gif" rel="icon" />
    <title>moneygo注册</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
    <link href="../css/register_second.css" rel="stylesheet" type="text/css" />

    <script src="js/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/register_second.js"></script>
    <script src="../js/tips.js" type="text/javascript"></script>


</head>
<body class="container-fluid">
<article class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
    <img src="../picture/register.gif"/><br/>
    <nav>| 用户注册</nav>
    <input id="input_aount" type="text" placeholder="账号"><br/>
    <input type="password" placeholder="密码"><br/>
    <input type="password" placeholder="确认密码"><br/>
    <input type="button" value="确认"/>



</article>


</body>
</html>