<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link href="../picture/logo_icon.gif" rel="icon" />
		<title>moneygo注册</title>
		<link href="../css/register.css" rel="stylesheet" type="text/css" />
        <script src="../js/register.js"></script>
	</head>
	<body>
		<div class="wrap">
		
		  <div class="divLeft">
		     <div id="divLeftFSel" class="divLeftFSel">手机注册</div>
		     <div id="divLeftESel" class="divLeftF">邮箱注册</div>
		  </div>
		  <div class="divRight">
		  	 <div class="divRightWrap">
		  	 	<div class="registerLogo"></div>
		  	 	<div class="registerType">| 手机注册</div>
		  	 	<div class="registerBody">
		  	 		<div id="phoneRegister" class="phoneRegister">
		  	 			<div >
		  	 				<span>手机号:</span><input class="inputSt" type="text" /><span class="spanR"></span>
		  	 			</div>
		  	 			<div >
		  	 				<span>密码:</span><input class="inputSt" type="password" /><span class="spanR"></span>
		  	 			</div>
		  	 			<div >
		  	 				<span>确认密码:</span><input class="inputSt" type="password" /><span class="spanR"></span>
		  	 			</div>
		  	 			<div>
		  	 				<span>验证码:</span><input class="inputSt" type="text" /><span class="spanR"></span>
		  	 			</div>
		  	 			<div class="divSub">
		  	 				<span></span><input class="inputSub" type="submit" value="立即注册" /><span class="spanR"></span>
		  	 			</div>
		  	 		</div>
		  	 		<!--
                       	作者：1299064798@qq.com
                       	时间：2016-07-16
                       	描述：邮箱注册模块
                       -->
		  	 		<div id="emailRegister" class="emailRegister">
		  	 			<div >
		  	 				<span>手机号:</span><input class="inputSt" type="text" /><span class="spanR"></span>
		  	 			</div>
		  	 			<div >
		  	 				<span>密码:</span><input class="inputSt" type="password" /><span class="spanR"></span>
		  	 			</div>
		  	 			<div >
		  	 				<span>确认密码:</span><input class="inputSt" type="password" /><span class="spanR"></span>
		  	 			</div>
		  	 			
		  	 			<div class="divSub">
		  	 				<span></span><input class="inputSub" type="submit" value="立即注册" /><span class="spanR"></span>
		  	 			</div>

		  	 		</div>
		  	 	</div>
		  	 	
		  	 </div>
		  </div>	
		  	
		</div>
	</body>
</html>
